@tailwind base;
@tailwind components;
@tailwind utilities;

.w-13 {
  width: 3.25rem;
}

.h-13 {
  height: 3.25rem;
}

@media print {
  @page {
    margin: 1cm;
  }
  
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}